@font-face {
  font-family: nationalPark;

  src: url('../font/NationalPark-Regular.otf');
}

/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */

/*
Document
========
*/

/**
Use a better box model (opinionated).
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/*
Sections
========
*/

/**
Remove the margin in all browsers.
*/

body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/

body {
  font-family:
		system-ui,
		-apple-system, /* Firefox supports this but not yet `system-ui` */
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';
}

/*
Grouping content
================
*/

/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/

/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family:
		ui-monospace,
		SFMono-Regular,
		Consolas,
		'Liberation Mono',
		Menlo,
		monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/

/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/

button,
select { /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type='button'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/

/**
Restore the focus styles unset by the previous rule.
*/

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/**
 * Manually forked from SUIT CSS Base: https://github.com/suitcss/base
 * A thin layer on top of normalize.css that provides a starting point more
 * suitable for web applications.
 */

/**
 * Removes the default spacing and border for appropriate elements.
 */

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

button {
  background-color: transparent;
  background-image: none;
}

/**
 * Work around a Firefox/IE bug where the transparent `button` background
 * results in a loss of the default `button` focus styles.
 */

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

fieldset {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/**
 * Tailwind custom reset styles
 */

/**
 * 1. Use the user's configured `sans` font-family (with Tailwind's default
 *    sans-serif font stack as a fallback) as a sane default.
 * 2. Use Tailwind's default "normal" line-height so the user isn't forced
 *    to override it to ensure consistency even when using the default theme.
 */

html {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 1 */
  line-height: 1.5; /* 2 */
}

/**
 * Inherit font-family and line-height from `html` so users can set them as
 * a class directly on the `html` element.
 */

body {
  font-family: inherit;
  line-height: inherit;
}

/**
 * 1. Prevent padding and border from affecting element width.
 *
 *    We used to set this in the html element and inherit from
 *    the parent element for everything else. This caused issues
 *    in shadow-dom-enhanced elements like <details> where the content
 *    is wrapped by a div with box-sizing set to `content-box`.
 *
 *    https://github.com/mozdevs/cssremedy/issues/4
 *
 *
 * 2. Allow adding a border to an element by just adding a border-width.
 *
 *    By default, the way the browser specifies that an element should have no
 *    border is by setting it's border-style to `none` in the user-agent
 *    stylesheet.
 *
 *    In order to easily add borders to elements by just setting the `border-width`
 *    property, we change the default border-style for all elements to `solid`, and
 *    use border-width to hide them instead. This way our `border` utilities only
 *    need to set the `border-width` property instead of the entire `border`
 *    shorthand, making our border utilities much more straightforward to compose.
 *
 *    https://github.com/tailwindcss/tailwindcss/pull/116
 */

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e5e7eb; /* 2 */
}

/*
 * Ensure horizontal rules are visible by default
 */

hr {
  border-top-width: 1px;
}

/**
 * Undo the `border-style: none` reset that Normalize applies to images so that
 * our `border-{width}` utilities have the expected effect.
 *
 * The Normalize reset is unnecessary for us since we default the border-width
 * to 0 on all elements.
 *
 * https://github.com/tailwindcss/tailwindcss/issues/362
 */

img {
  border-style: solid;
}

textarea {
  resize: vertical;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #9ca3af;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #9ca3af;
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: #9ca3af;
}

input::placeholder,
textarea::placeholder {
  color: #9ca3af;
}

button,
[role="button"] {
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/**
 * Reset links to optimize for opt-in styling instead of
 * opt-out.
 */

a {
  color: inherit;
  text-decoration: inherit;
}

/**
 * Reset form element properties that are easy to forget to
 * style explicitly so you don't inadvertently introduce
 * styles that deviate from your design system. These styles
 * supplement a partial reset that is already applied by
 * normalize.css.
 */

button,
input,
optgroup,
select,
textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}

/**
 * Use the configured 'mono' font family for elements that
 * are expected to be rendered with a monospace font, falling
 * back to the system monospace stack if there is no configured
 * 'mono' font family.
 */

pre,
code,
kbd,
samp {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/**
 * Make replaced elements `display: block` by default as that's
 * the behavior you want almost all of the time. Inspired by
 * CSS Remedy, with `svg` added as well.
 *
 * https://github.com/mozdevs/cssremedy/issues/14
 */

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

/**
 * Constrain images and videos to the parent width and preserve
 * their instrinsic aspect ratio.
 *
 * https://github.com/mozdevs/cssremedy/issues/14
 */

img,
video {
  max-width: 100%;
  height: auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.bg-dark-500 {
  --tw-bg-opacity: 1;
  background-color: rgba(40, 44, 52, var(--tw-bg-opacity));
}

.hover\:bg-dark-800:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(16, 18, 21, var(--tw-bg-opacity));
}

.rounded-md {
  border-radius: 0.375rem;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.table {
  display: table;
}

.hidden {
  display: none;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-around {
  justify-content: space-around;
}

.h-6 {
  height: 1.5rem;
}

.h-12 {
  height: 3rem;
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.text-6xl {
  font-size: 3.75rem;
  line-height: 1;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.mx-6 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.-mx-3 {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mb-10 {
  margin-bottom: 2.5rem;
}

.focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.p-2 {
  padding: 0.5rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.inset-y-0 {
  top: 0px;
  bottom: 0px;
}

.left-0 {
  left: 0px;
}

* {
  --tw-shadow: 0 0 #0000;
}

* {
  --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
}

.focus\:ring-2:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.focus\:ring-white:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgba(255, 255, 255, var(--tw-ring-opacity));
}

.text-center {
  text-align: center;
}

.text-white {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.text-dark-800 {
  --tw-text-opacity: 1;
  color: rgba(16, 18, 21, var(--tw-text-opacity));
}

.text-primary-500 {
  --tw-text-opacity: 1;
  color: rgba(248, 198, 48, var(--tw-text-opacity));
}

.hover\:text-white:hover {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.select-text {
  -webkit-user-select: text;
      -ms-user-select: text;
          user-select: text;
}

.w-6 {
  width: 1.5rem;
}

.w-full {
  width: 100%;
}

.w-screen {
  width: 100vw;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes ping {
  75%, 100% {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes pulse {
  50% {
    opacity: .5;
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8,0,1,1);
  }

  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0,0,0.2,1);
  }
}

.hero-image {
  height: 90vh;
  object-fit: cover;
  opacity: 0.8;
  width: 100%;
}

.hero-overlay {
  --tw-bg-opacity: 1;
  background-color: rgba(8, 9, 10, var(--tw-bg-opacity));
  --tw-bg-opacity: 0.5;
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.hero-text {
  transform: translate(-50%, -50%);
  font-family: nationalPark;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
}

.hero-text-header {
  font-weight: 800;
  font-size: 3rem;
  line-height: 1;
  --tw-text-opacity: 1;
  color: rgba(248, 198, 48, var(--tw-text-opacity));
}

@media (min-width: 768px) {
  .hero-text-header {
    font-size: 3.75rem;
    line-height: 1;
  }
}

@media (min-width: 1024px) {
  .hero-text-header {
    font-size: 4.5rem;
    line-height: 1;
  }
}

.hero-header-span {
  display: block;
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin-top: 1.5rem;
  --tw-text-opacity: 1;
  color: rgba(241, 118, 14, var(--tw-text-opacity));
}

@media (min-width: 768px) {
  .hero-header-span {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

.hero-cta-container {
  display: flex;
  align-content: center;
  justify-content: space-between;
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin-top: 4rem;
}

.cta-hero {
  border-radius: 0.75rem;
  font-family: nationalPark;
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.cta-hero:focus {
  --tw-ring-offset-width: 2px;
  --tw-ring-opacity: 1;
  --tw-ring-color: rgba(255, 255, 255, var(--tw-ring-opacity));
}

.cta-hero {
  text-align: center;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.cta-hero:hover {
  --tw-text-opacity: 1;
  color: rgba(241, 118, 14, var(--tw-text-opacity));
}

.cta-hero {
  text-transform: uppercase;
  letter-spacing: 0.025em;
}

@media (min-width: 768px) {
  .cta-hero {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

@media (min-width: 1024px) {
  .cta-hero {
    font-size: 3rem;
    line-height: 1;
  }
}

.cta-hero:hover {
  text-shadow: 0px 0px 15px #F1760E;
}

.header {
  --tw-bg-opacity: 1;
  background-color: rgba(241, 118, 14, var(--tw-bg-opacity));
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

@media (min-width: 768px) {
  .header {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
}

.header-desktop-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 80rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

@media (min-width: 768px) {
  .header-desktop-container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .header-desktop-container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.header-nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  position: relative;
}

.header-company-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 0%;
}

@media (min-width: 768px) {
  .header-company-container {
    align-items: stretch;
    justify-content: flex-start;
  }
}

.header-company-anchor {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.header-company-logo {
  border-radius: 9999px;
  height: 3rem;
}

.header-company-logo:hover {
  --tw-shadow: 0 20px 25px -5px rgba(248,198,48, 0.20), 0 10px 10px -5px rgba(248,198,48, 0.50);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

@media (min-width: 768px) {
  .header-company-logo {
    height: 4rem;
  }
}

.header-company-name {
  display: none;
  font-family: nationalPark;
  font-weight: 800;
  margin-left: 0.75rem;
  margin-right: 2rem;
}

.header-company-name:hover {
  --tw-text-opacity: 1;
  color: rgba(248, 198, 48, var(--tw-text-opacity));
}

.header-company-name {
  letter-spacing: 0.05em;
}

@media (min-width: 768px) {
  .header-company-name {
    display: block;
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

@media (min-width: 1024px) {
  .header-company-name {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

.desktop-nav-container {
  display: none;
  height: 100%;
}

@media (min-width: 768px) {
  .desktop-nav-container {
    display: block;
    margin-left: 1rem;
  }
}

.desktop-nav-inactive:focus {
  border-color: currentColor;
}

.desktop-nav-inactive {
  font-family: nationalPark;
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-right: 0.75rem;
  --tw-text-opacity: 1;
  color: rgba(8, 9, 10, var(--tw-text-opacity));
}

.desktop-nav-inactive:hover {
  --tw-text-opacity: 1;
  color: rgba(248, 198, 48, var(--tw-text-opacity));
}

.desktop-nav-inactive {
  letter-spacing: 0.025em;
}

.desktop-nav-inactive:hover {
  --tw-scale-x: 1.05;
  --tw-scale-y: 1.05;
}

.desktop-nav-inactive {
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

@media (min-width: 1024px) {
  .desktop-nav-inactive {
    font-size: 1.875rem;
    line-height: 2.25rem;
    margin-right: 2rem;
  }
}

.desktop-nav-active:focus {
  border-color: currentColor;
}

.desktop-nav-active {
  font-family: nationalPark;
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 2rem;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.desktop-nav-active:hover {
  --tw-text-opacity: 1;
  color: rgba(248, 198, 48, var(--tw-text-opacity));
}

.desktop-nav-active {
  letter-spacing: 0.025em;
}

.desktop-nav-active:hover {
  --tw-scale-x: 1.05;
  --tw-scale-y: 1.05;
}

.desktop-nav-active {
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

@media (min-width: 1024px) {
  .desktop-nav-active {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}

.mobile-nav-inactive {
  font-family: nationalPark;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 0.75rem;
  margin-left: 0.75rem;
}

.mobile-nav-inactive:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgba(255, 255, 255, var(--tw-ring-opacity));
}

.mobile-nav-inactive {
  --tw-text-opacity: 1;
  color: rgba(8, 9, 10, var(--tw-text-opacity));
}

.mobile-nav-inactive:hover {
  --tw-text-opacity: 1;
  color: rgba(248, 198, 48, var(--tw-text-opacity));
}

.mobile-nav-inactive {
  letter-spacing: 0.025em;
  width: auto;
}

.mobile-nav-active {
  font-family: nationalPark;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
}

.mobile-nav-active:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgba(255, 255, 255, var(--tw-ring-opacity));
}

.mobile-nav-active {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.mobile-nav-active:hover {
  --tw-text-opacity: 1;
  color: rgba(248, 198, 48, var(--tw-text-opacity));
}

.mobile-nav-active {
  letter-spacing: 0.025em;
  width: auto;
}

.mobile-nav-container {
  display: flex;
  flex-direction: column;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.75rem;
}

.nav-button {
  --tw-bg-opacity: 1;
  background-color: rgba(8, 9, 10, var(--tw-bg-opacity));
}

.nav-button:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(248, 198, 48, var(--tw-bg-opacity));
}

.nav-button {
  border-radius: 0.375rem;
  font-family: nationalPark;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 32rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.nav-button:hover {
  --tw-shadow: 0 20px 25px -5px rgba(248,198,48, 0.20), 0 10px 10px -5px rgba(248,198,48, 0.50);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.nav-button:focus {
  --tw-ring-offset-width: 2px;
  --tw-ring-opacity: 1;
  --tw-ring-color: rgba(255, 255, 255, var(--tw-ring-opacity));
}

.nav-button {
  --tw-text-opacity: 1;
  color: rgba(248, 198, 48, var(--tw-text-opacity));
}

.nav-button:hover {
  --tw-text-opacity: 1;
  color: rgba(8, 9, 10, var(--tw-text-opacity));
}

.nav-button {
  letter-spacing: 0.05em;
}

@media (min-width: 1024px) {
  .nav-button {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}

.mobile-nav-button {
  --tw-bg-opacity: 1;
  background-color: rgba(8, 9, 10, var(--tw-bg-opacity));
}

.mobile-nav-button:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(248, 198, 48, var(--tw-bg-opacity));
}

.mobile-nav-button {
  border-radius: 0.375rem;
  font-family: nationalPark;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  max-width: 32rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.mobile-nav-button:hover {
  --tw-shadow: 0 20px 25px -5px rgba(248,198,48, 0.20), 0 10px 10px -5px rgba(248,198,48, 0.50);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.mobile-nav-button:focus {
  --tw-ring-offset-width: 2px;
  --tw-ring-opacity: 1;
  --tw-ring-color: rgba(255, 255, 255, var(--tw-ring-opacity));
}

.mobile-nav-button {
  --tw-text-opacity: 1;
  color: rgba(248, 198, 48, var(--tw-text-opacity));
}

.mobile-nav-button:hover {
  --tw-text-opacity: 1;
  color: rgba(8, 9, 10, var(--tw-text-opacity));
}

.mobile-nav-button {
  letter-spacing: 0.05em;
}

@media (min-width: 1024px) {
  .mobile-nav-button {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}

.user-nav-container {
  display: flex;
  align-items: center;
  padding-right: 0.5rem;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
}

@media (min-width: 768px) {
  .user-nav-container {
    margin-left: 1.5rem;
    padding-right: 0px;
    position: static;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
  }
}

.user-menu-container {
  margin-left: 0.75rem;
  position: relative;
}

.user-button {
  border-radius: 9999px;
  display: flex;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.user-button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
  --tw-ring-offset-width: 2px;
  --tw-ring-opacity: 1;
  --tw-ring-color: rgba(255, 255, 255, var(--tw-ring-opacity));
}

.user-icon {
  height: 2.5rem;
  --tw-text-opacity: 1;
  color: rgba(16, 18, 21, var(--tw-text-opacity));
}

.user-icon:hover {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.user-icon {
  width: 2.5rem;
}

.user-menu {
  --tw-bg-opacity: 1;
  background-color: rgba(16, 18, 21, var(--tw-bg-opacity));
  border-radius: 0.375rem;
  margin-top: 0.25rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  position: absolute;
  right: 0px;
  --tw-shadow: 0 20px 25px -5px rgba(248,198,48, 0.20), 0 10px 10px -5px rgba(248,198,48, 0.50);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
  --tw-ring-opacity: 1;
  --tw-ring-color: rgba(0, 0, 0, var(--tw-ring-opacity));
  --tw-ring-opacity: 0.05;
  width: 12rem;
  z-index: 10;
  transform-origin: top right;
}

.user-menu-item:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(40, 44, 52, var(--tw-bg-opacity));
}

.user-menu-item {
  display: block;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.map-info-container {
  --tw-bg-opacity: 1;
  background-color: rgba(40, 44, 52, var(--tw-bg-opacity));
  border-radius: 0.5rem;
  height: 40vh;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
  width: 100%;
}

.map-info-anchor {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40vh;
}

.map-info-header {
  font-family: nationalPark;
  font-weight: 800;
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  text-align: center;
  --tw-text-opacity: 1;
  color: rgba(248, 198, 48, var(--tw-text-opacity));
}

@media (min-width: 640px) {
  .map-info-header {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.map-info-date {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  text-align: center;
}

@media (min-width: 640px) {
  .map-info-date {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.map-info-text {
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  white-space: pre-line;
}

.map-info-author-container {
  display: flex;
  align-items: center;
  width: 100%;
}

@media (min-width: 768px) {
  .map-info-author-container {
    justify-content: space-between;
  }
}

.map-info-author-image {
  border-radius: 0.375rem;
  align-self: flex-start;
  height: auto;
  width: 33.333333%;
}

@media (min-width: 768px) {
  .map-info-author-image {
    width: 25%;
  }
}

.map-info-author {
  display: flex;
  flex-wrap: wrap;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1024px) {
  .map-info-author {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 1280px) {
  .map-info-author {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.flexwrap-container {
  display: flex;
  flex-wrap: wrap;
}

.blog-image-container {
  display: flex;
  justify-content: center;
  height: auto;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 2rem;
  position: relative;
}

@media (min-width: 1280px) {
  .blog-image-container {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    margin-top: 2.5rem;
  }
}

.blog-image {
  border-radius: 0.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.back-arrow-container {
  --tw-text-opacity: 1;
  color: rgba(241, 118, 14, var(--tw-text-opacity));
}

.back-arrow-container:hover {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.back-arrow-container {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.back-arrow-container:hover {
  --tw-scale-x: 1.05;
  --tw-scale-y: 1.05;
}

.back-arrow {
  height: 3rem;
  width: 6rem;
}

@media (min-width: 1280px) {
  .back-arrow {
    margin-left: 1rem;
  }
}

.edit-button {
  --tw-bg-opacity: 1;
  background-color: rgba(248, 198, 48, var(--tw-bg-opacity));
}

.edit-button:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(241, 118, 14, var(--tw-bg-opacity));
}

.edit-button {
  font-family: nationalPark;
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-right: 1.5rem;
  max-width: 28rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.edit-button:hover {
  --tw-shadow: 0 20px 25px -5px rgba(241,118,14, 0.20), 0 10px 10px -5px rgba(241,118,14, 0.50);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.edit-button:focus {
  --tw-ring-offset-width: 2px;
  --tw-ring-opacity: 1;
  --tw-ring-color: rgba(255, 255, 255, var(--tw-ring-opacity));
}

.edit-button {
  --tw-text-opacity: 1;
  color: rgba(8, 9, 10, var(--tw-text-opacity));
}

.edit-button:hover {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.edit-button {
  letter-spacing: 0.025em;
}

.blog-entry-container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 3.5rem;
}

@media (min-width: 1024px) {
  .blog-entry-container {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }
}

.delete-button {
  --tw-bg-opacity: 1;
  background-color: rgba(239, 68, 68, var(--tw-bg-opacity));
}

.delete-button:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(8, 9, 10, var(--tw-bg-opacity));
}

.delete-button {
  font-family: nationalPark;
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-right: 1.5rem;
  max-width: 28rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.delete-button:focus {
  --tw-ring-offset-width: 2px;
  --tw-ring-opacity: 1;
  --tw-ring-color: rgba(255, 255, 255, var(--tw-ring-opacity));
}

.delete-button {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.delete-button:hover {
  --tw-text-opacity: 1;
  color: rgba(239, 68, 68, var(--tw-text-opacity));
}

.delete-button {
  letter-spacing: 0.025em;
}

@media (min-width: 1024px) {
  .delete-button {
    margin-right: 2.5rem;
  }
}

.blog-title {
  font-family: nationalPark;
  font-weight: 800;
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin-bottom: 1.5rem;
  --tw-text-opacity: 1;
  color: rgba(248, 198, 48, var(--tw-text-opacity));
  letter-spacing: 0.025em;
}

@media (min-width: 1280px) {
  .blog-title {
    font-size: 3rem;
    line-height: 1;
  }
}

.blog-heading-container {
  align-content: center;
}

@media (min-width: 640px) {
  .blog-heading-container {
    display: flex;
    justify-content: space-between;
  }
}

.blog-date {
  flex-shrink: 0;
  font-family: nationalPark;
  font-weight: 800;
  margin-top: auto;
  margin-bottom: auto;
  letter-spacing: 0.025em;
}

@media (min-width: 640px) {
  .blog-date {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-left: 1rem;
  }
}

.blog-author-container {
  margin-top: 1rem;
}

@media (min-width: 640px) {
  .blog-author-container {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
    margin-top: 0px;
  }
}

.blog-author-image {
  border-radius: 0.5rem;
  display: block;
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
  object-fit: cover;
  position: relative;
  width: 33.333333%;
}

@media (min-width: 640px) {
  .blog-author-image {
    margin-left: 0.5rem;
    margin-right: 1rem;
    width: 16.666667%;
  }
}

.blog-author-name {
  font-family: nationalPark;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-top: 0.75rem;
  letter-spacing: 0.025em;
}

@media (min-width: 640px) {
  .blog-author-name {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 0px;
    margin-right: 1rem;
  }
}

.blog-text {
  font-size: 1.125rem;
  line-height: 1.75rem;
  line-height: 1.625;
  margin-top: 2rem;
  white-space: pre-wrap;
}

.blog-published-date {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 2rem;
  font-style: italic;
}

.footer {
  --tw-bg-opacity: 1;
  background-color: rgba(8, 9, 10, var(--tw-bg-opacity));
  height: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer-logo-anchor {
  border-radius: 9999px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
}

.footer-logo-anchor:hover {
  --tw-shadow: 0 20px 25px -5px rgba(241,118,14, 0.20), 0 10px 10px -5px rgba(241,118,14, 0.50);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.footer-logo-anchor {
  width: 4rem;
}

@media (min-width: 1024px) {
  .footer-logo-anchor {
    width: 6rem;
  }
}

.footer-nav-button {
  --tw-bg-opacity: 1;
  background-color: rgba(248, 198, 48, var(--tw-bg-opacity));
}

.footer-nav-button:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(241, 118, 14, var(--tw-bg-opacity));
}

.footer-nav-button {
  border-radius: 0.375rem;
  font-family: nationalPark;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 32rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.footer-nav-button:hover {
  --tw-shadow: 0 20px 25px -5px rgba(241,118,14, 0.20), 0 10px 10px -5px rgba(241,118,14, 0.50);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.footer-nav-button:focus {
  --tw-ring-offset-width: 2px;
  --tw-ring-opacity: 1;
  --tw-ring-color: rgba(255, 255, 255, var(--tw-ring-opacity));
}

.footer-nav-button {
  --tw-text-opacity: 1;
  color: rgba(8, 9, 10, var(--tw-text-opacity));
}

.footer-nav-button:hover {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.footer-nav-button {
  letter-spacing: 0.05em;
}

@media (min-width: 1024px) {
  .footer-nav-button {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}

.footer-nav-inactive {
  font-family: nationalPark;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.75rem;
}

.footer-nav-inactive:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgba(255, 255, 255, var(--tw-ring-opacity));
}

.footer-nav-inactive {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.footer-nav-inactive:hover {
  --tw-text-opacity: 1;
  color: rgba(241, 118, 14, var(--tw-text-opacity));
}

.footer-nav-inactive {
  letter-spacing: 0.05em;
  width: auto;
}

@media (min-width: 1024px) {
  .footer-nav-inactive {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}

.footer-nav-active {
  font-family: nationalPark;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 0.75rem;
}

.footer-nav-active:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgba(255, 255, 255, var(--tw-ring-opacity));
}

.footer-nav-active {
  --tw-text-opacity: 1;
  color: rgba(248, 198, 48, var(--tw-text-opacity));
}

.footer-nav-active:hover {
  --tw-text-opacity: 1;
  color: rgba(241, 118, 14, var(--tw-text-opacity));
}

.footer-nav-active {
  letter-spacing: 0.05em;
  width: auto;
}

@media (min-width: 1024px) {
  .footer-nav-active {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}

body {
  --tw-bg-opacity: 1;
  background-color: rgba(24, 26, 31, var(--tw-bg-opacity));
  min-height: 100vh;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.map-container {
  height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  left: 0px;
  width: auto;
}

.submit-button {
  --tw-bg-opacity: 1;
  background-color: rgba(248, 198, 48, var(--tw-bg-opacity));
}

.submit-button:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(145, 71, 8, var(--tw-bg-opacity));
}

.submit-button {
  border-radius: 9999px;
  cursor: pointer;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  --tw-text-opacity: 1;
  color: rgba(8, 9, 10, var(--tw-text-opacity));
  text-transform: uppercase;
  letter-spacing: 0.05em;
  width: 100%;
}

@media (min-width: 640px) {
  .submit-button {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .submit-button {
    width: 33.333333%;
  }
}

.form-label {
  display: block;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1rem;
  margin-bottom: 0.5rem;
  --tw-text-opacity: 1;
  color: rgba(244, 145, 62, var(--tw-text-opacity));
  text-transform: uppercase;
  letter-spacing: 0.025em;
}

.form-input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  --tw-bg-opacity: 1;
  background-color: rgba(83, 86, 93, var(--tw-bg-opacity));
  border-radius: 0.25rem;
  border-width: 1px;
  display: block;
  line-height: 1.25;
  outline: 2px solid transparent;
  outline-offset: 2px;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-right: 2rem;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
  width: 100%;
}

.form-textarea {
  height: 10rem;
}

@media (min-width: 768px) {
  .form-textarea {
    height: 20rem;
  }
}

.select-container {
  display: flex;
  align-content: center;
  justify-content: flex-end;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  width: 100%;
}

@media (min-width: 1024px) {
  .select-container {
    margin-bottom: 1rem;
    margin-top: 2.5rem;
  }
}

.select-text {
  font-family: nationalPark;
  font-weight: 800;
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  --tw-text-opacity: 1;
  color: rgba(241, 118, 14, var(--tw-text-opacity));
  letter-spacing: 0.05em;
}

@media (min-width: 1280px) {
  .select-text {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.select-dropdown {
  --tw-bg-opacity: 1;
  background-color: rgba(248, 198, 48, var(--tw-bg-opacity));
  border-radius: 0.375rem;
  font-family: nationalPark;
  margin-right: 1.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  --tw-text-opacity: 1;
  color: rgba(8, 9, 10, var(--tw-text-opacity));
}

@media (min-width: 768px) {
  .select-dropdown {
    margin-right: 2.5rem;
  }
}

@media (min-width: 1024px) {
  .select-dropdown {
    margin-right: 2rem;
  }
}

@media (min-width: 1280px) {
  .select-dropdown {
    margin-right: 2.5rem;
  }
}

.blog-card {
  --tw-bg-opacity: 1;
  background-color: rgba(40, 44, 52, var(--tw-bg-opacity));
  border-radius: 0.5rem;
  height: 100%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 1rem;
  overflow: hidden;
  position: relative;
  --tw-shadow: 0 1px 3px 0 rgba(248,198,48, 0.20), 0 1px 2px 0 rgba(248,198,48, 0.50);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.blog-card:hover {
  --tw-shadow: 0 20px 25px -5px rgba(248,198,48, 0.20), 0 10px 10px -5px rgba(248,198,48, 0.50);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.blog-card {
  width: 100%;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.blog-card:hover {
  --tw-scale-x: 1.05;
  --tw-scale-y: 1.05;
  --tw-translate-y: -0.25rem;
}

.blog-card {
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
}

@media (min-width: 640px) {
  .blog-card {
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 768px) {
  .blog-card {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
}

@media (min-width: 1024px) {
  .blog-card {
    margin-bottom: 3.5rem;
    width: auto;
  }
}

@media (min-width: 1280px) {
  .blog-card {
    margin-left: 2rem;
    margin-right: 2rem;
    width: 40%;
  }
}

.card-content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: relative;
}

.card-image {
  height: 30vh;
  object-fit: cover;
  object-position: center;
  width: auto;
}

.card-title-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 0.75rem;
}

@media (min-width: 768px) {
  .card-title-container {
    margin-top: 1.5rem;
  }
}

.card-title {
  flex-grow: 1;
  font-family: nationalPark;
  font-weight: 800;
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  text-align: center;
  --tw-text-opacity: 1;
  color: rgba(248, 198, 48, var(--tw-text-opacity));
  letter-spacing: 0.025em;
}

@media (min-width: 640px) {
  .card-title {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.card-date-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
  .card-date-container {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
}

.card-date {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

@media (min-width: 640px) {
  .card-date {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.card-author-container {
  display: flex;
  align-items: center;
  height: 100%;
  margin-top: auto;
  position: relative;
  width: 100%;
}

@media (min-width: 768px) {
  .card-author-container {
    justify-content: space-between;
  }
}

.card-author-img {
  border-radius: 0.375rem;
  display: block;
  align-self: flex-start;
  height: auto;
  object-fit: cover;
  object-position: center;
  width: 33.333333%;
}

@media (min-width: 768px) {
  .card-author-img {
    width: 25%;
  }
}

@media (min-width: 1024px) {
  .card-author-img {
    width: 33.333333%;
  }
}

@media (min-width: 1280px) {
  .card-author-img {
    width: 25%;
  }
}

.card-author-name {
  display: flex;
  flex-wrap: wrap;
  font-family: nationalPark;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1024px) {
  .card-author-name {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 1280px) {
  .card-author-name {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.cta-button {
  --tw-bg-opacity: 1;
  background-color: rgba(248, 198, 48, var(--tw-bg-opacity));
}

.cta-button:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(241, 118, 14, var(--tw-bg-opacity));
}

.cta-button {
  font-family: nationalPark;
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.cta-button:hover {
  --tw-shadow: 0 20px 25px -5px rgba(241,118,14, 0.20), 0 10px 10px -5px rgba(241,118,14, 0.50);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.cta-button:focus {
  --tw-ring-offset-width: 2px;
  --tw-ring-opacity: 1;
  --tw-ring-color: rgba(255, 255, 255, var(--tw-ring-opacity));
}

.cta-button {
  text-align: center;
  --tw-text-opacity: 1;
  color: rgba(8, 9, 10, var(--tw-text-opacity));
}

.cta-button:hover {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.cta-button {
  letter-spacing: 0.025em;
  width: 8rem;
}

.error-text {
  font-family: nationalPark;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 1rem;
  text-align: center;
}

@media (min-width: 768px) {
  .error-text {
    font-size: 2.25rem;
    line-height: 2.5rem;
    margin: 2rem;
  }
}

.error-image {
  height: 50vh;
  width: auto;
}

@media (min-width: 1024px) {
  .error-image {
    height: 50vh;
  }
}

.error-header-text {
  font-family: nationalPark;
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
  --tw-text-opacity: 1;
  color: rgba(248, 198, 48, var(--tw-text-opacity));
}

@media (min-width: 768px) {
  .error-header-text {
    font-size: 3.75rem;
    line-height: 1;
    margin-bottom: 2rem;
  }
}

.error-container {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
  width: 100%;
}

.image-overlay {
  --tw-bg-opacity: 1;
  background-color: rgba(8, 9, 10, var(--tw-bg-opacity));
  --tw-bg-opacity: 0.6;
  height: 100%;
  opacity: 0;
}

.image-overlay:hover {
  opacity: 1;
}

.image-overlay {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.image-text {
  transform: translate(-50%, -50%);
  font-family: nationalPark;
  font-weight: 800;
  font-size: 3.75rem;
  line-height: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  --tw-text-opacity: 1;
  color: rgba(248, 198, 48, var(--tw-text-opacity));
}

.blog-grid-container {
  display: grid;
  width: 100vw;
}

@media (min-width: 1024px) {
  .blog-grid-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.loader {
  animation: spin 2s linear infinite;
  --tw-border-opacity: 1;
  border-color: rgba(241, 118, 14, var(--tw-border-opacity));
  border-radius: 9999px;
  border-top-width: 18px;
  height: 10rem;
  width: 10rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 640px) {
  .sm\:my-6 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .sm\:w-1\/2 {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .md\:hidden {
    display: none;
  }

  .md\:mb-0 {
    margin-bottom: 0px;
  }

  .md\:w-2\/3 {
    width: 66.666667%;
  }
}

@media (min-width: 1024px) {
  .lg\:h-auto {
    height: auto;
  }
}

@media (min-width: 1280px) {
  .xl\:w-2\/4 {
    width: 50%;
  }
}

@media (min-width: 1536px) {
}
