@font-face {
    font-family: nationalPark;
    src: url('../font/NationalPark-Regular.otf');
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  @apply bg-secondary-500 py-2 md:py-3;
}

.header-desktop-container {
  @apply max-w-7xl mx-auto px-2 md:px-6 lg:px-8;
}

.header-nav-container {
  @apply relative flex items-center justify-between h-16;
}

.header-company-container {
  @apply flex-1 flex items-center justify-center md:items-stretch md:justify-start;
}

.header-company-anchor {
  @apply flex-shrink-0 flex items-center;
}

.header-company-logo {
  @apply h-12 md:h-16 hover:shadow-yellowXL rounded-full;
}

.header-company-name {
  @apply hidden md:block ml-3 mr-8 md:text-2xl lg:text-4xl font-nationalPark font-extrabold tracking-wider hover:text-primary-500;
}

.desktop-nav-container {
  @apply hidden md:block md:ml-4 h-full;
}

.desktop-nav-inactive {
  @apply mr-3 lg:mr-8 font-nationalPark tracking-wide text-2xl lg:text-3xl font-extrabold text-dark-900 transition hover:scale-105 hover:text-primary-500 focus:border-current;
}

.desktop-nav-active {
  @apply font-nationalPark tracking-wide text-2xl lg:text-3xl font-extrabold text-white transition hover:scale-105 hover:text-primary-500 focus:border-current;
}

.mobile-nav-inactive {
  @apply w-auto text-dark-900 font-nationalPark mb-3 ml-3 tracking-wide text-2xl font-bold hover:text-primary-500 focus:ring-white;
}

.mobile-nav-active {
  @apply w-auto text-white font-nationalPark tracking-wide text-2xl font-bold hover:text-primary-500 focus:ring-white;
}

.mobile-nav-container {
  @apply flex flex-col px-2 pt-2 pb-3;
}

.nav-button {
  @apply mx-auto max-w-lg font-nationalPark px-2 py-1 tracking-wider rounded-md text-2xl lg:text-3xl font-bold bg-dark-900 hover:bg-primary-500 focus:ring-offset-2 focus:ring-white text-primary-500 hover:text-dark-900 hover:shadow-yellowXL;
}

.mobile-nav-button {
  @apply max-w-lg font-nationalPark px-2 py-1 tracking-wider rounded-md text-2xl lg:text-3xl font-bold bg-dark-900 hover:bg-primary-500 focus:ring-offset-2 focus:ring-white text-primary-500 hover:text-dark-900 hover:shadow-yellowXL;
}

.user-nav-container {
  @apply absolute inset-y-0 right-0 flex items-center pr-2 md:static md:inset-auto md:ml-6 md:pr-0;
}

.user-menu-container {
  @apply ml-3 relative;
}

.user-button {
  @apply flex text-sm rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-white;
}

.user-icon {
  @apply h-10 w-10 text-dark-800 hover:text-white;
}

.user-menu {
  @apply z-10 origin-top-right absolute right-0 mt-1 w-48 rounded-md py-1 bg-dark-800 ring-1 shadow-yellowXL ring-black ring-opacity-5;
}

.user-menu-item {
  @apply block px-4 py-2 text-sm text-white hover:bg-dark-500;
}

.map-info-container {
  @apply h-40vh bg-dark-500 rounded-lg text-white w-full;
}

.map-info-anchor {
  @apply h-40vh flex flex-col justify-between;
}

.map-info-header {
  @apply font-nationalPark text-primary-500 mx-2 my-1 sm:mx-4 text-4xl font-extrabold text-center;
}

.map-info-date {
  @apply mx-2 sm:mx-4 text-lg font-bold text-center;
}

.map-info-text {
  @apply text-lg mx-6 my-4 whitespace-pre-line truncate;
}

.map-info-author-container {
  @apply w-full flex items-center md:justify-between;
}

.map-info-author-image {
  @apply rounded-md self-start w-1/3 md:w-1/4 h-auto;
}

.map-info-author {
  @apply mx-auto text-2xl lg:text-lg xl:text-2xl font-bold flex flex-wrap;
}

.footer {
  @apply h-auto py-8 bg-dark-900;
}

.footer-container {
  @apply flex flex-col text-center;
}

.footer-logo-anchor {
  @apply w-16 lg:w-24 mb-6 rounded-full hover:shadow-orangeXL mx-auto;
}

.footer-nav-button {
  @apply mx-auto max-w-lg font-nationalPark px-2 py-1 tracking-wider rounded-md text-2xl lg:text-3xl font-bold bg-primary-500 hover:bg-secondary-500 hover:shadow-orangeXL focus:ring-offset-2 focus:ring-white text-dark-900 hover:text-white;
}

.footer-nav-inactive {
  @apply w-auto mx-auto text-white font-nationalPark mb-3 tracking-wider text-2xl lg:text-3xl font-bold hover:text-secondary-500 focus:ring-white;
}

.footer-nav-active {
  @apply w-auto text-primary-500 font-nationalPark mb-3 tracking-wider text-2xl lg:text-3xl font-bold hover:text-secondary-500 focus:ring-white;
}

body {
    @apply min-h-screen text-white bg-dark-700;
}

.map-container {
  @apply w-auto h-screen sticky top-0 left-0;
}

.submit-button {
    @apply py-2 px-4 uppercase rounded-full cursor-pointer tracking-wider w-full bg-primary-500 text-dark-900 sm:w-1/2 md:w-1/3 hover:bg-secondary-700;
}

.form-label {
    @apply block uppercase tracking-wide text-secondary-400 text-xs font-bold mb-2;
}

.form-input {
    @apply block appearance-none outline-none w-full bg-dark-400 border text-white py-3 px-4 pr-8 leading-tight rounded;
}

.select-container {
  @apply flex w-full content-center justify-end mb-2 lg:mb-4 mt-4 lg:mt-10;
}

.select-text {
  @apply mx-1 text-xl xl:text-2xl font-nationalPark text-secondary-500 tracking-wider font-extrabold;
}

.select-dropdown {
  @apply mr-6 md:mr-10 lg:mr-8 xl:mr-10 py-1 px-2 bg-primary-500 text-dark-900 rounded-md font-nationalPark;
}

.blog-card {
  @apply bg-dark-500 w-full h-full relative md:w-2/5 lg:w-auto xl:w-2/5 rounded-lg overflow-hidden mx-6 md:mx-auto xl:mx-8 mb-4 sm:mb-6 lg:mb-14 transition duration-200 ease-in-out transform hover:-translate-y-1 hover:scale-105 shadow-yellow hover:shadow-yellowXL;
}

.card-content-container {
  @apply h-full relative flex flex-col justify-between;
}

.card-image {
  @apply w-auto h-30vh object-center object-cover;
}

.card-title-container {
  @apply mt-3 md:mt-6 flex flex-row flex-wrap justify-evenly items-center;
}

.card-title {
  @apply flex-grow text-primary-500 mx-2 sm:mx-4 text-4xl font-nationalPark tracking-wide font-extrabold text-center;
}

.card-date-container {
  @apply my-6 md:my-10 flex flex-row flex-wrap justify-evenly items-center;
}

.card-date {
  @apply mx-2 sm:mx-4 text-xl font-bold;
}

.card-author-container {
  @apply relative h-full w-full mt-auto flex items-center md:justify-between;
}

.card-author-img {
  @apply block rounded-md self-start w-1/3 md:w-1/4 lg:w-1/3 xl:w-1/4 h-auto object-cover object-center;
}

.card-author-name {
  @apply mx-auto text-2xl lg:text-lg xl:text-2xl font-bold font-nationalPark flex flex-wrap;
}

.cta-button {
  @apply text-center w-32 mx-auto font-nationalPark px-1 py-1 tracking-wide text-lg bg-primary-500 hover:bg-secondary-500 hover:shadow-orangeXL focus:ring-offset-2 focus:ring-white text-dark-900 hover:text-white;
}

.error-text {
  @apply text-center font-nationalPark text-2xl md:text-4xl m-4 md:m-8;
}

.error-image {
  @apply h-50vh lg:h-50vh w-auto;
}

.error-header-text {
  @apply text-primary-500 text-center font-nationalPark text-4xl md:text-6xl mb-6 md:mb-8;
}

.error-container {
  @apply h-screen w-full flex flex-col justify-center content-between;
}

.buttons-container {
  @apply w-full mt-6 mb-4 flex justify-between;
}

.image-overlay {
  @apply absolute top-0 bottom-0 left-0 right-0 h-full w-full opacity-0 transition bg-dark-900 bg-opacity-60 hover:opacity-100;
}

.image-text {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  @apply font-nationalPark text-primary-500 text-6xl font-extrabold absolute top-2/4 left-2/4 text-center;
}

.blog-grid-container {
  @apply grid lg:grid-cols-2 w-screen;
}

.loader-container {
  @apply h-90vh flex justify-center items-center;
}

.loader {
    animation: spin 2s linear infinite;
    @apply h-40 w-40 border-t-18 border-secondary-500 rounded-full;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
