@font-face {
    font-family: nationalPark;
    src: url('../font/NationalPark-Regular.otf');
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-active {
    @apply px-3 py-2 rounded-md text-sm font-medium text-white bg-gray-900;
}

.nav-inactive {
    @apply px-3 py-2 rounded-md text-sm font-medium text-gray-300 hover:text-white hover:bg-gray-700;
}

.App {
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
